#!/usr/bin/env bash

# Simple calculator
function calc() {
	local result="";
	result="$(printf "scale=10;$*\n" | bc --mathlib | tr -d '\\\n')";
	#                       └─ default (when `--mathlib` is used) is 20
	#
	if [[ "$result" == *.* ]]; then
		# improve the output for decimal numbers
		printf "$result" |
		sed -e 's/^\./0./'        `# add "0" for cases like ".5"` \
		    -e 's/^-\./-0./'      `# add "0" for cases like "-.5"`\
		    -e 's/0*$//;s/\.$//';  # remove trailing zeros
	else
		printf "$result";
	fi;
	printf "\n";
}

# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# Determine size of a file or total size of a directory
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* *;
	fi;
}

# Use Git’s colored diff when available
hash git &>/dev/null;
if [ $? -eq 0 ]; then
	function diff() {
		git diff --no-index --color-words "$@";
	}
fi;

# extract a zip file
# credit to https://github.com/kori/shell.d/blob/master/functions
extract() {
	if [ -f "$1" ] ; then
		case "$1" in
			*.tar.bz2 | *.tbz2 | *.tar.gz | *.tgz | *.tar.xz | *.txz | *.zip ) bsdtar -xf "$1" ;;
			*.7z) 7z x "$1" ;;
			*.bz2) bunzip2 "$1" ;;
			*.gz) gunzip "$1" ;;
			*.rar) unrar x "$1" ;;
			*.tar) tar xvf "$1" ;;
			*.xz) xz -d "$1" ;;
			*.Z) uncompress "$1" ;;
			*) echo "Unable to extract $1." ;;
		esac
	else
		echo "Usage: extract $1"
	fi
}
